{% extends "blog/layout.html" %}

    {% block main %}


    Hello boys, how is it going huh?

    <ul> {% if students %}
        {% for student in students %}
        <li>
            {{student.name}} - {{student.age}} - {{student.marks}}
        </li>
        {% endfor %}
        
        {% endif %}
    </ul>

    {% if user.is_authenticated %}
            <h3>You are logged in! {{ user }}</h3>
            <a href="{% url 'logout' %}">Click here</a> to log out...
    {% endif %}

    {% endblock%}